<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- package="com.ominous.batterynotification" REMOVED as per Android build tools recommendation -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- ... your existing application components ... -->
    </application>
</manifest>
